<main>
  <div class="container">
    <div class="row">
      <div class="col-12 my-5 p-5 grey-bg boxing-shadow">
        <div class="row">
          <div class="col-12 col-lg-6">
            <h1 class="mb-4">
              Welkom op <span class="title-blue">TicketTrade</span>
            </h1>
            <p class="mb-5">
              Het allereerste platform waar je tickets kunt kopen voor
              concerten, alerts kunt instellen voor je favoriete concerten en
              kunt zien naar welke concerten je vrienden allemaal gaan.
            </p>
            <p class="landing-phrase">
              <span class="blue-dot"></span>Bemachtig tickets voor je favoriete
              concert
            </p>
            <p class="landing-phrase">
              <span class="blue-dot"></span>Kijk naar welke concerten jouw
              vrienden gaan
            </p>
            <a routerLink="/concerten" class="btn primary-btn mt-5"
              >Bekijk concerten <i class="fa-solid fa-chevron-right"></i
            ></a>
          </div>
          <div class="col-12 col-lg-6 d-none d-lg-inline">
            <img
              class="img-fluid rounded-img"
              src="assets/img/Landing.jpg"
              alt="landing-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
