
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logindialog">
          <div mat-dialog-content>
            <form [formGroup]="loginFormGroup">
              <div class="d-flex flex-column">
                <mat-form-field>
                  <mat-label>Enter your email</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="pat@example.com"
                    formControlName="email"
                    maxlength="100"
                    required
                  />
                  <mat-error *ngIf="loginFormGroup.get('email')?.invalid">{{
                    getErrorMessage("email")
                  }}</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <mat-label>Enter a password</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="**********"
                    formControlName="password"
                    required
                    maxlength="30"
                  />
                  <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required')">This field is required.</mat-error>
                </mat-form-field>
              </div>
        
              <div mat-dialog-actions>
                <div class="row mx-auto">
                  <div class="col-6">
                    <button mat-button mat-dialog-close class="cancel-button">
                      Cancel
                    </button>
                  </div>
                  <div class="col-6">
                    <button mat-button class="login-button">Login</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

